{{ form_start(form) }}
<div>
    <label for="opening_hours_dayOfWeek">Jour de la semaine</label>

</div>
{{ form_widget(form) }}

    <button class="btn"><i class="fa-solid fa-floppy-disk"></i> {#{{ button_label|default('Enregistrer') }}#}</button>
{{ form_end(form) }}
