
    <h1 class="text-center m-3">Modifer Horaires</h1>

    {{ include('opening_hours/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_openinghours_index') }}"><i class="fa-solid fa-arrow-left"></i></a>


