{% extends 'base.html.twig' %}

{% block title %}New OpeningHours{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Create new OpeningHours</h1>

    {{ include('opening_hours/_form.html.twig') }}

    <a href="{{ path('app_openinghours_index') }}">back to list</a>
{% endblock %}
