<form method="post" action="{{ path('app_information_delete', {'id': information.id}) }}" onsubmit="return confirm('Voulez vous supprimer ces coordonnées?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ information.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
