
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-end">
            <p class="text-right">Où nous trouver ?</p>
        </div>
        <div class="col-12 col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23111.20988836164!2d1.4072652126492682!3d43.6085979644693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebaebbf05033b%3A0xe27c0ba94ded8fcf!2sMaubec%2C%2031300%20Toulouse!5e0!3m2!1sfr!2sfr!4v1711036295824!5m2!1sfr!2sfr"
            style="position: relative; bottom: 0;" class="w-100" width="600" height="450"  style="border:0;resize: both;overflow: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>