{{ form_start(form) }}
    {{ form_widget(form) }}
    {#  {{ form_label(form.phone, 'Votre Numero', {'label_attr': {'class': 'foo'}}) }}#}
    <button class="btn"><i class="fa-solid fa-floppy-disk"></i></button>
{{ form_end(form) }}