{% extends 'base.html.twig' %}

{% block title %}Nouvel Employé{% endblock %}

{% block body %}
    <h1>Nouvel Employé</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('app_admin_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}
