{% extends 'base.html.twig' %}

{% block title %}Modifier l'Annonce{% endblock %}

{% block body %}
    <h1>Modifier l'Annonce</h1>

    {{ include('offers/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('offers/_delete_form.html.twig') }}

    <a href="{{ path('app_offers_index') }}"><i class="fa-solid fa-arrow-left"></i></a>


{% endblock %}
