{% extends 'base.html.twig' %}

{% block title %}New Offers{% endblock %}

{% block body %}
    <h1>Create new Offers</h1>

    {{ include('offers/_form.html.twig') }}

    <a href="{{ path('app_offers_index') }}">back to list</a>
{% endblock %}
