{% extends 'base.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body %}
    <h1>Nouvelle Annonce</h1>

    {{ include('offers/_form.html.twig') }}

    <a href="{{ path('app_offers_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}
