{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Nouveau Service</h1>

    {{ include('services/_form.html.twig') }}

    <a href="{{ path('app_services_index') }}"><i class="fa-solid fa-arrow-left"></i></a>


{% endblock %}
