{#<script import 'rateyo';</script>#}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="error-message">
        {{ form_errors(form) }}
    </div>
    <button type="submit" class="btn" aria-label="Enregistrer"><i class="fa-solid fa-floppy-disk" aria-hidden="false"></i></button>
{{ form_end(form) }}

