{#<script import 'rateyo';</script>#}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="error-message">
        {{ form_errors(form) }}
    </div>
    <button type="submit" class="btn btn-dark" aria-label="Envoyer Formulaire">Envoyer</button>
{{ form_end(form) }}

