{% extends 'base.html.twig' %}

{% block title %}Nouveau Avis{% endblock %}

{% block body %}

    <h2 class="text-center m-3">Donnez Votre Avis !</h2>



    {{ include('testimonial/_form.html.twig') }}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# L'utilisateur est connecté en tant qu'utilisateur non anonyme #}
        <a href="{{ path('app_testimonial_index') }}"><i class="fa-solid fa-arrow-left" aria-hidden="false"></i><span class="sr-only">Retour</span></a>
    {% else%}
        <a href="{{ path('app_index') }}"><i class="fa-solid fa-arrow-left" aria-hidden="false"></i><span class="sr-only">Retour</span></a>
    {% endif %}


{% endblock %}
