{% extends 'base.html.twig' %}

{% block title %}Nouvelle Demande{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Demande de Contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('app_contact_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}
