<form method="post" action="{{ path('app_cars_delete', {'id': car.id}) }}" onsubmit="return confirm('Voulez vous supprimer cette voiture?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
