{% extends 'base.html.twig' %}

{% block title %}Modifier Véhicule{% endblock %}

{% block body %}
    <h1>Modifier Véhicule</h1>

    {{ include('cars/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('cars/_delete_form.html.twig') }}

    <a href="{{ path('app_cars_index') }}"><i class="fa-solid fa-arrow-left"></i></a>


{% endblock %}
