{% extends 'base.html.twig' %}

{% block title %}New Cars{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Create new Cars</h1>

    {{ include('cars/_form.html.twig') }}

    <a href="{{ path('app_cars_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}
