{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}
    <h1>Modifier Utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Changer'}) }}

    <a href="{{ path('app_user_index') }}"><i class="fa-solid fa-arrow-left"></i></a>

    {{ include('user/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
{% endblock %}
