{% extends 'base.html.twig' %}

{% block title %}Nouvelle Image{% endblock %}

{% block body %}
    <h1>créer de nouvelles image</h1>

    {{ include('images/_form.html.twig') }}

    <a href="{{ path('app_images_index') }}">revenir à l'arrière</a>
{% endblock %}
