{% extends 'base.html.twig' %}

{% block title %}New Images{% endblock %}

{% block body %}
    <h1>Create new Images</h1>

    {{ include('images/_form.html.twig') }}

    <a href="{{ path('app_images_index') }}">back to list</a>
{% endblock %}
